#centered{
    text-align: center;
}

#title{
    color: white;
}

img{
    width: 300px;
}

textarea{
    width:30%;
    height:30vh;
    background-color: #ECE5C7;
    box-shadow: 10px 10px #686456;
    border: 0px;
    color: black
}

#preview{
    text-align: left;
    background-color: #C2DED1;
    width:30%;
    padding: 1%;
    margin:auto;
}

